/target/
/.project/
/.settings/
/.classpath/
/.project/
/target/
/project/
/settings/
/classpath/
/project/
/.project/
/.settings/
/.classpath/
/.project/
/.metadata/
*.class
*.jar
*.war
*.ear
.project
.classpath
.settings/
.metadata/
*.metadata/